@use '../constants' as *;
@use '../abstracts' as *;

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: $white;
  color: $dark;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}
