@use '../constants' as *;
@use '../abstracts' as *;

.about {
  @include bg(url('src/assets/img/bg-snow.png'));
  display: flex;
  justify-content: center;
  padding: $content-block-padding $content-inline-padding;

  &__caption {
    color: $red;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    border-radius: $base-radius;
    background-color: $white;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: px-to-rem(60);
    max-width: 426px;
    gap: px-to-rem(20);
  }

  &__img-container {
    min-width: 364px;
    height: 528px;
    overflow: hidden;
  }

  &__img {
    object-fit: cover;
    border-radius: $base-radius;
  }
}
