@use '../constants' as *;
@use '../abstracts' as *;

.advice {
  @include bg(url('/src/assets/img/bg-snow.png'));
  display: flex;
  flex-direction: column;
  gap: px-to-rem(20);
  padding: $content-block-padding $content-inline-padding;
  color: $white;

  &__texts {
    @extend %centered;
    gap: px-to-rem(12);
  }

  .slider {
    display: flex;
    flex-direction: column;
    gap: px-to-rem(20);

    &__slides {
      display: flex;
      align-items: center;
      gap: px-to-rem(20);
    }

    &__slide-img-container {
      min-width: 200px;
      height: 200px;
    }

    &__slide-img {
      object-fit: cover;
      border-radius: $base-radius;
    }

    &__arrows {
      display: flex;
      align-self: flex-end;
      gap: px-to-rem(20);
    }

    &__arrow {
      @include slider-arrow;

      &:not(&--disabled):hover {
        background-color: $white;

        & svg path {
          stroke: $red;
        }
      }

      &--disabled,
      &--disabled:hover {
        border-color: $white-40;
        cursor: default;

        & svg path {
          stroke: $white-40;
        }
      }

      &--left {
        rotate: 180deg;
      }
    }
  }
}
