@use '../constants' as *;
@use '../abstracts' as *;

.countdown {
  @include bg(
    url('src/assets/img/bg-snow.png'),
    url('src/assets/img/bg-forest.png')
  );
  display: flex;
  justify-content: center;
  padding-block: px-to-rem(180);
  color: $white;

  &__content {
    @extend %centered;
    gap: px-to-rem(20);
    max-width: 430px;
    color: $white;
  }

  &__clock {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: px-to-rem(8) px-to-rem(12) px-to-rem(12);
    background-color: $white-40;
    border-radius: $base-radius;
    user-select: none;

    &-time-cell {
      width: 80px;
    }
  }

  &__clock-and-caption {
    display: flex;
    flex-direction: column;
    gap: px-to-rem(8);
  }

  &__clock-time-cell-separator {
    height: 20px;
    border: solid $white-40 1px;
  }

  &__button {
    @extend %button;
    width: 236px;
    background-color: $dark;
    color: $white;

    &:hover {
      background-color: $white;
      color: $dark;
    }
  }
}
