@use '../constants' as *;
@use '../abstracts' as *;

.footer {
  display: flex;
  flex-direction: column;
  padding: $content-block-padding $desktop-content-inline-padding;
  gap: px-to-rem(60);

  &__contact-cards {
    display: flex;
    gap: px-to-rem(12);
    flex-wrap: wrap;
  }
  &__contact-card {
    @extend %centered;
    gap: px-to-rem(12);
    padding: px-to-rem(20);
    min-width: 417px;
    border-radius: $base-radius;
    background-color: $soft-sky;
    flex-grow: 1;

    &-text {
      @extend %centered;
      gap: px-to-rem(12);
      transition: $transition;
    }
    @media (hover: hover) {
      &:hover &-text {
        color: $red;
      }
    }

    &-img {
      width: 80px;
      height: 80px;
    }
  }

  &__contacts {
    @extend %centered;
    gap: px-to-rem(12);
  }

  &__socials {
    display: flex;
    gap: px-to-rem(12);
  }

  &__social {
    display: flex;

    & svg path {
      transition: $transition;
    }

    @media (hover: hover) {
      &:hover svg path {
        stroke: $red;
        cursor: pointer;
      }
    }
  }

  @media (hover: hover) {
    &__rss {
      transition: $transition;
      &:hover {
        color: $red;
      }
    }
  }
}
