@use '../constants' as *;
@use '../abstracts' as *;

.gifts {
  @include bg();
  display: flex;
  flex-direction: column;
  gap: px-to-rem(20);
  padding: $content-block-padding $content-inline-padding;

  &__texts {
    @extend %centered-text;
    gap: px-to-rem(12);
    color: $white;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: px-to-rem(12);
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 309px;
    height: 350px;
    border-radius: $base-radius;
    background-color: $soft-sky;

    &:hover {
      cursor: pointer;
    }

    &:hover &-figcaption:last-child {
      color: $red;
    }

    &-figcaption {
      display: flex;
      flex-direction: column;
      flex-grow: 0;
      height: 150px;
      gap: px-to-rem(8);
      padding: px-to-rem(20);
      border-radius: $base-radius;
      background-color: $white;
      transition: $transition;
    }

    &-img {
      object-fit: cover;
      border-radius: $base-radius;
    }

    &-description--truncate {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }
}
