@use '../constants' as *;
@use '../abstracts' as *;

.gifts {
  @include bg(url('/src/assets/img/bg-garland.png'));
  display: flex;
  flex-direction: column;
  gap: px-to-rem(20);
  padding: $content-block-padding $content-inline-padding;
  background-size: contain;
  background-position-y: top;

  &__texts {
    @extend %centered;
    width: 426px;
    gap: px-to-rem(12);
    color: $white;
  }

  &__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: px-to-rem(12);
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 310px;
    border-radius: $base-radius;
    background-color: $soft-sky;

    &:hover {
      cursor: pointer;
    }

    &:hover &-figcaption:last-child {
      color: $red;
    }

    &-figcaption {
      display: flex;
      flex-direction: column;
      flex-grow: 0;
      gap: px-to-rem(8);
      padding: px-to-rem(20);
      border-radius: $base-radius;
      background-color: $white;
      transition: $transition;
    }

    &-img {
      object-fit: cover;
      border-radius: $base-radius;
    }

    &-description--truncate {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }

  &__tabs {
    display: flex;
    justify-content: center;
    gap: px-to-rem(8);
    color: $white;
  }

  &__tab {
    @extend %button;
    padding: px-to-rem(12) px-to-rem(20);
    border-radius: px-to-rem(12);
    color: $white;

    &--active {
      @extend %active-tab;
    }

    &:not(&--active):hover {
      background-color: $white-20;
    }
  }
}
