@use '../constants' as *;
@use '../abstracts' as *;

.header {
  padding-inline: $content-inline-padding;
  padding-block: px-to-rem(12);

  &__nav {
    display: flex;
    justify-content: space-between;

    &-logo {
      display: flex;
      align-items: center;
      gap: px-to-rem(8);
      padding: px-to-rem(8) px-to-rem(20);

      &-svg {
        width: 24px;
        height: 24px;
      }

      &-text {
        align-self: center;
      }
    }
    &-list {
      display: flex;
      gap: px-to-rem(8);
      text-transform: uppercase;
    }

    &-item {
      display: flex;
      align-items: center;
    }

    &-link {
      display: flex;
      padding: px-to-rem(12) px-to-rem(20);
      border-radius: px-to-rem(12);
      transition: $transition;

      &:not(.logo):hover {
        background-color: $red-10;
        color: $red;
      }
    }
  }
}
