@use '../constants' as *;

.header {
  padding: 0.75rem 5.125rem;

  .nav__list {
    display: flex;
    gap: 0.5rem;
    text-transform: uppercase;
  }

  .nav__item {
    display: flex;
    align-items: center;
    &:first-child {
      flex-grow: 1;
    }

    .nav__link {
      display: flex;
      padding: 0.75rem 1.25rem;
      border-radius: 0.75rem;
      transition: $transition;

      &:not(.logo):hover {
        background-color: $red-10;
        color: $red;
      }
    }

    .logo {
      gap: 0.5rem;
      & .logo__text {
        align-self: center;
      }
    }
  }
}
