@use '../constants' as *;
@use '../abstracts' as *;

.header {
  padding: px-to-rem(12) px-to-rem(82);

  .nav__list {
    display: flex;
    gap: px-to-rem(8);
    text-transform: uppercase;
  }

  .nav__item {
    display: flex;
    align-items: center;
    &:first-child {
      flex-grow: 1;
    }

    .nav__link {
      display: flex;
      padding: px-to-rem(12) px-to-rem(20);
      border-radius: px-to-rem(12);
      transition: $transition;

      &:not(.logo):hover {
        background-color: $red-10;
        color: $red;
      }
    }

    .logo {
      gap: px-to-rem(8);
      & .logo__text {
        align-self: center;
      }
    }
  }
}
