@use '../constants' as *;
@use '../abstracts' as *;

.hero {
  @include bg(
    url('/src/assets/img/bg-snow.png'),
    url('/src/assets/img/bg-ball.png')
  );
  display: flex;
  justify-content: center;
  padding-block: px-to-rem(120);

  &__content {
    @extend %centered;
    gap: px-to-rem(12);
    max-width: 430px;
    color: $white;
  }

  &__button {
    @include button;
    width: 236px;
    background-color: $dark;
    color: $white;

    &:hover {
      background-color: $white;
      color: $dark;
    }
  }
}
