@use '../constants' as *;
@use '../abstracts' as *;

.hero {
  display: flex;
  justify-content: center;
  padding-block: px-to-rem(120);
  border-top-left-radius: px-to-rem(20);
  border-top-right-radius: px-to-rem(20);
  background-color: $red;
  background-image: url('src/assets/img/bg-ball.png'),
    url('src/assets/img/bg-snow.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__content {
    display: flex;
    flex-direction: column;
    gap: px-to-rem(12);
    align-items: center;
    max-width: 430px;
    text-align: center;
    color: $white;
  }
}
