@use '../constants' as *;

@mixin bg($backgrounds...) {
  background-image: $backgrounds;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $button-padding;
  border: none;
  border-radius: $base-radius;
  background-color: inherit;
  transition: $transition;

  &:hover {
    cursor: pointer;
  }
}

@mixin slider-arrow {
  @include button;
  width: 56px;
  height: 56px;
  border: solid $white 1px;
  padding: initial;
}
