@use '../constants' as *;

%typography-base {
  font-family: $base-ff;
  font-weight: $base-fw;
  text-transform: uppercase;
}

%centered {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  text-align: center;
}
