@use '../constants' as *;

%typography-base {
  font-family: $base-ff;
  font-weight: $base-fw;
  text-transform: uppercase;
}

%centered {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  text-align: center;
}

%button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $button-padding;
  border: none;
  border-radius: $base-radius;
  background-color: inherit;
  transition: $transition;
}

%slider-arrow {
  @extend %button;
  width: 56px;
  height: 56px;
  border: solid $white 1px;
  padding: initial;
}
